button {
  font-family: 'normal';
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #072d5a;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  background-color: white;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 45px;
  font-family: 'Montserrat-SemiBold';
  color: #2d2d2d;
}

.description {
  text-align: justify;
  line-height: 2;
  letter-spacing: 1px;
  font-size: 20px;
  width: 85%;
  align-self: center;
}

.btn {
  background-color: #184177;
  color: white;
  height: 60px;
  border-radius: 30px;
  width: 30%;
  font-size: 20px;
}

.divButton {
  text-align: center;
}

// question answer expert
.card-expert {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: white;
  border-radius: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: flex-start;
  align-items: stretch;
}
.question {
  text-align: left;
  font-family: 'Montserrat-SemiBold';
  color: #2d2d2d;
}

.question-container {
  display: block;
  width: 90%;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
  align-items: center;
}

.problemCard {
  border: 3px solid #5a88b9;
  color: #072d5a;
  margin: 15px;
}

.problemCard:hover {
  border: 3px solid #265799;
  background-color: #e6f2ff;
}

.problemCard-active {
  border: 3px solid #265799;
  background-color: #e6f2ff;
  color: #265799;
  font-family: 'Montserrat-Bold';
  margin-left: 15px;
}

.next {
  background-color: #184177;
  color: white;
  height: 60px;
  border-radius: 30px;
  width: 30%;
  font-size: 20px;
}

.back {
  color: #184177;
  background-color: white;
  height: 60px;
  border-radius: 30px;
  width: 30%;
  font-size: 20px;
  margin-right: 40px;
}

.nav-container {
  display: flex;
  width: 50%;
  justify-content: center;
}

.nav-btn:hover {
  border: 3px solid #265799;
  background-color: #c8daef;
  color: #072d5a;
}

.problem-capt {
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat-SemiBold';
  color: #2d2d2d;
}

.problem {
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat-Regular';
  color: #2d2d2d;
}

.explanation {
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat-Regular';
  color: #2d2d2d;
}
