.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #072d5a;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 100%;
}

.card {
  display: block;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 45px;
  font-family: 'Montserrat-SemiBold';
}

.description {
  text-align: justify;
}

.btn {
  background-color: #184177;
  color: white;
  border-radius: 20px;
  width: 30%;
  height: 40px;
}

.divButton {
  text-align: center;
}

.problemCard {
  display: block;
  width: 90%;
  background-color: #072d5a;
  color: white;
  border-radius: 20px;
  margin: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
  align-items: center;
}
