<div class="background" *ngIf="main">
  <div class="card">
    <div class="image">
      <img src="../assets/logo.png" width="210" height="210" />
    </div>
    <p class="description">
      <b class="bold">DIACOM</b> merupakan sebuah
      <i>web apps expert systems </i> yang dapat digunakan untuk mendiagnosa
      kerusakan-kerusakan pada komputer. <b class="bold">DIACOM</b> membantu
      user mendeteksi kerusakan dengan memberikan opsi kepada user mengenai
      gejala kerusakan yang dialami. Selanjutnya <b class="bold">DIACOM</b> akan
      memberikan jawaban mengenai kerusakan apa yang terjadi pada komputer dan
      solusinya.
    </p>
    <div class="divButton">
      <button class="btn btn-info  btn-fill" (click)="start()">
        Try it out!
      </button>
    </div>
  </div>
</div>

<div class="background-expert" *ngIf="firstTree">
  <div class="abs-logo">
    <img src="../assets/transparent-logo.png" width="120" height="120" />
  </div>
  <div class="card-expert">
    <h1 class="question">
      {{ questions[0].topic }}
    </h1>
    <div
      style="justify-content: flex-start; align-items: stretch;"
      *ngFor="let question of questions; index as i"
    >
      <div
        class="question-container"
        [ngClass]="{
          problemCard: selectedOption
            ? question.gejala != selectedOption.gejala
            : true,
          'problemCard-active': selectedOption
            ? question.gejala == selectedOption.gejala
            : false
        }"
        (click)="onOptionPress(i)"
      >
        {{ question.gejala }}
      </div>
    </div>
  </div>
  <div class="nav-container">
    <button class="nav-btn back" (click)="back()">
      Kembali
    </button>
    <button class="nav-btn next" (click)="next()">
      Lanjut
    </button>
  </div>
</div>

<div class="background" *ngIf="result">
  <div class="abs-logo">
    <img src="../assets/transparent-logo.png" width="120" height="120" />
  </div>
  <div class="card-expert">
    <h3 class="problem-capt">Permasalahan yang kamu alami :</h3>
    <h1 class="problem">{{ selectedOption.problem }}</h1>

    <h3 class="problem-capt" style="margin-top: 50px; margin-bottom: -5px;">
      Apa yang terjadi dan penyelesaiannya :
    </h3>
    <p class="explanation">
      {{ selectedOption.solution }}
    </p>
  </div>
  <div class="nav-container">
    <button class="nav-btn btn-home" (click)="restart()">
      Kembali ke Halaman Utama
    </button>
  </div>
</div>
<router-outlet></router-outlet>
