<div class="background" *ngIf="main">
  <div class="card">
    <div class="image">
      <img src="../assets/logo.png" width="210" height="210" />
    </div>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <div class="divButton">
      <button class="btn btn-info  btn-fill" (click)="start()">
        Try it out!
      </button>
    </div>
  </div>
</div>

<div class="background" *ngIf="firstTree">
  <div class="card-expert">
    <h1 class="question">
      {{ questions[0].topic }}
    </h1>
    <div
      style="justify-content: flex-start; align-items: stretch;"
      *ngFor="let question of questions; index as i"
    >
      <div
        class="question-container"
        [ngClass]="{
          problemCard: selectedOption
            ? question.gejala != selectedOption.gejala
            : true,
          'problemCard-active': selectedOption
            ? question.gejala == selectedOption.gejala
            : false
        }"
        (click)="onOptionPress(i)"
      >
        {{ question.gejala }}
      </div>
    </div>
  </div>
  <div class="nav-container">
    <button class="nav-btn back" (click)="back()">
      Back
    </button>
    <button class="nav-btn next" (click)="next()">
      Next
    </button>
  </div>
</div>

<div class="background" *ngIf="result">
  <div class="card-expert">
    <h3 class="problem-capt">Permasalahan yang kamu alami :</h3>
    <h1 class="problem">{{ selectedOption.problem }}</h1>

    <p class="explanation">
      {{ selectedOption.solution }}
    </p>
  </div>
  <div class="nav-container">
    <button class="nav-btn next" (click)="restart()">
      Coba lagi
    </button>
  </div>
</div>
<router-outlet></router-outlet>
